@{
    ViewData["Title"] = "Home Page";
}


<div class="jumbotron">
    <h1 style="text-align:center";>The Bartender</h1>
    <p class="lead"></p>
</div>
<div class="row">
    <div class="col-md-3">
    <h2>Cocktail Menu</h2>
        
    <p><a href="https://localhost:44389/Home/Menu">Click here to see the drink menu</a></p>
            
    </div>
    <div class="col-md-3">
        <h2>Log In</h2>
        <p>Login for bartenders</p>
        <p><a href="https://localhost:44389/Home/Login">Sign In</a></p>

    </div>
</div>
