@{
    ViewData["Title"] = "Menu";
}

@*
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
    *@

<h2>DRINK SELECTION</h2>
<br />
<div>
    <p>Martini</p>
    <button>Order</button>
    <br />
    <p>Whiskey Sour</p>
    <button>Order</button>
    <br />
    <p>Mai Tai</p>
    <button>Order</button>
    <br />
    <p>Gin & Tonic</p>
    <button>Order</button>
</div>


